---
x-common-env: &common-env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}
  UMASK: ${UMASK}

services:
  dockerproxy: # Proxy for docker socket access
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      CONTAINERS: 1 # Allow access to viewing containers
      SERVICES: 1 # Allow access to viewing services (necessary when using Docker Swarm)
      TASKS: 1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      POST: 0 # Disallow any POST operations (effectively read-only)
      TZ: ${TZ}
    ports:
      - 127.0.0.1:2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    restart: unless-stopped

  # caddy:
  #   container_name: caddy
  #   image: ghcr.io/hotio/caddy
  #   ports:
  #     - "80:8080"
  #     - "443:8443"
  #   environment:
  #     <<: *common-env
  #     # CUSTOM_BUILD:
  #   volumes:
  #     - /docker/caddy/config:/config
  #   restart: unless-stopped

  homepage: # Self hosted dashboard for home labs
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    volumes:
      - ${DOCKER}/homepage/config/:/app/config
      - /data/1TB:/data/1TB:ro
      - /data/320GB:/data/320GB:ro
      - ${POOL}:/data/pool:ro
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      <<: *common-env
      HOMEPAGE_ALLOWED_HOSTS: ${HOST}:3000
    depends_on:
      - dockerproxy # Ensures proxy starts first (optional but helpful)

  plex: # Media Server for Movies & TV
    image: ghcr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    environment:
      <<: *common-env
      VERSION: docker
    volumes:
      - ${DOCKER}/plex/config:/config
      - ${POOL}/media/tv:/tv
      - ${POOL}/media/movies:/movies
      - ${POOL}/media/music:/music
      - ${POOL}/media/family-photos:/family-photos
      - ${POOL}/media/family-videos:/family-videos
      - ${POOL}/media/other-videos:/other-videos
      - /tmp/plex:/transcode
      - /tmp/plex:/tmp
    restart: unless-stopped

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 7878:7878
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/radarr/config:/config
      - ${POOL}:/data

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8989:8989
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/sonarr/config:/config
      - ${POOL}:/data

  lidarr:
    container_name: lidarr
    image: ghcr.io/hotio/lidarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - "8686:8686"
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/lidarr/config:/config
      - ${POOL}:/data

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    ports:
      - "9696:9696"
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/prowlarr/config:/config
    restart: unless-stopped

  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      <<: *common-env
      LOG_LEVEL: info
      LOG_HTML: false
      CAPTCHA_SOLVER: none
    volumes:
      - ${DOCKER}/flaresolverr/config/:/config
    ports:
      - "8191:8191"
    restart: unless-stopped

  diun:
    image: crazymax/diun:latest
    container_name: diun
    command: serve
    environment:
      <<: *common-env
      LOG_LEVEL: info
      LOG_JSON: false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER}/diun/data:/data
      - ${DOCKER}/diun/diun.yml:/diun.yml:ro
    restart: unless-stopped

  # profilarr:
  #   image: santiagosayshey/profilarr:latest # Use :beta for early access to new features
  #   container_name: profilarr
  #   ports:
  #     - 6868:6868
  #   volumes:
  #     - ${DOCKER}/profilarr/config:/config # Replace with your actual path
  #   environment:
  #     - TZ=Asia/Karachi # Set your timezone
  #   restart: unless-stopped

  tautulli:
    container_name: tautulli
    image: ghcr.io/hotio/tautulli
    ports:
      - "8181:8181"
    environment:
      <<: *common-env
      WEBUI_PORTS: 8181/tcp,8181/udp
    volumes:
      - ${DOCKER}/tautulli/config:/config
    restart: unless-stopped

  cross-seed:
    image: ghcr.io/cross-seed/cross-seed:6
    container_name: cross-seed
    user: 1000:1000
    ports:
      - "2468:2468"
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/cross-seed/config:/config
      - ${POOL}/torrents:/data/pool/torrents
    command: daemon
    restart: unless-stopped

  qui:
    image: ghcr.io/hotio/qui
    container_name: qui
    restart: unless-stopped
    ports:
      - "7476:7476"
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/qui/config/:/config

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    user: 1000:1000
    restart: unless-stopped
    volumes:
      - ${DOCKER}/recyclarr/config/:/config
    environment:
      <<: *common-env
      CRON_SCHEDULE: "@daily"

  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "1000:1000"
    restart: unless-stopped
    ports:
      - 3923:3923
    volumes:
      - ${DOCKER}/copyparty/config/:/cfg
      - ${POOL}/:/w
    environment:
      <<: *common-env
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.NOPE
      # enable mimalloc by replacing "NOPE" with "2" for a nice speed-boost (will use twice as much ram)
      PYTHONUNBUFFERED: 1
      # ensures log-messages are not delayed (but can reduce speed a tiny bit)
    stop_grace_period: 15s # thumbnailer is allowed to continue finishing up for 10s after the shutdown signal
    healthcheck:
      # hide it from logs with "/._" so it matches the default --lf-url filter
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s

  qbitmanage:
    container_name: qbitmanage
    image: ghcr.io/hotio/qbitmanage
    restart: unless-stopped
    environment:
      <<: *common-env
      QBT_WEB_SERVER: true
      QBT_PORT: 8081
    volumes:
      - ${DOCKER}/qbitmanage/config:/config
      - ${POOL}/torrents:/data
      - /home/salman/.local/share/qBittorrent/:/qbittorrent:ro
    ports:
      - "8081:8081"

  seerr:
    container_name: seerr
    image: ghcr.io/hotio/seerr
    restart: unless-stopped
    ports:
      - "5055:5055"
    environment:
      <<: *common-env
      LOG_LEVEL: debug
    volumes:
      - ${DOCKER}/seerr/config:/config

  autobrr:
    container_name: autobrr
    image: ghcr.io/autobrr/autobrr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    #  options:
    #    max-file: ${DOCKERLOGGING_MAXFILE}
    #    max-size: ${DOCKERLOGGING_MAXSIZE}
    user: 1000:1000
    environment:
      <<: *common-env
    volumes:
      - ${DOCKER}/autobrr/config:/config
    ports:
      - 7474:7474

  # your-spotify-server:
  #   image: yooooomi/your_spotify_server
  #   container_name: your-spotify-server
  #   restart: unless-stopped
  #   ports:
  #     - "8082:8080"
  #   links:
  #     - your-spotify-mongo
  #   depends_on:
  #     - your-spotify-mongo
  #   environment:
  #     <<: *common-env
  #     API_ENDPOINT: http://127.0.0.1:8082 # This MUST be included as a valid URL in the spotify dashboard (see below)
  #     CLIENT_ENDPOINT: http://127.0.0.1:3001
  #     MONGO_ENDPOINT: mongodb://your-spotify-mongo:27017/your_spotify
  #     SPOTIFY_PUBLIC: ${SPOTIFY_PUBLIC}
  #     SPOTIFY_SECRET: ${SPOTIFY_SECRET}
  #     # CORS: "http://192.168.0.100:3001"
  #
  # your-spotify-mongo:
  #   container_name: your-spotify-mongo
  #   image: mongo:6
  #   environment:
  #     <<: *common-env
  #   volumes:
  #     - ${DOCKER}/your-spotify/db:/data/db
  #
  # your-spotify-web:
  #   image: yooooomi/your_spotify_client
  #   container_name: your-spotify-web
  #   restart: unless-stopped
  #   ports:
  #     - "3001:3000"
  #   environment:
  #     <<: *common-env
  #     API_ENDPOINT: http://127.0.0.1:8082
